.dot {
    -fx-fill:red;
}

.line {
    -fx-stroke: white;
}
/* note that tour edges created using the TourEdge class, the css class .tour is used instead */
.prediction .line {
    -fx-stroke: yellow;
}

.target .line {
    -fx-stroke: lime;
}

.graph, #graphWrapper {
    -fx-background-color:black;
}

.graph .label {
    -fx-color: #cecece;
    visibility:hidden;
}

#contentRoot, #playbackControls, #sliderWrapper {
    -fx-padding: 5px;
}

.agentInfo {
    -fx-padding: 5px 0 0 0;
}
.lblAgentId, .txtAgentId {
    -fx-font-weight:bold;
}

Text, Label {
    -fx-padding: 0 5px 0 10px;
}

.agentInfo CheckBox {
    -fx-label-padding: 0 5px 0 10px;
}

