.dot {
    -fx-fill:white;
}

.line {
    -fx-stroke: blue;
}

.suboptimal .line {
    -fx-stroke: #777777;
}
/* note that tour edges created using the TourEdge class, the css class .tour is used instead */
.optimal .line {
    -fx-stroke: #00ff00;
}

.graph {
    -fx-background-color: #000000;
}

.label {
    -fx-fill: #cecece;
}