#infoPane {
    -fx-padding: 5px;
}
.dot {
    -fx-fill:red;
}

#tfProblemName {
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.line {
    -fx-stroke: white;
}
/* note that tour edges created using the TourEdge class, the css class .tour is used instead */
.prediction .line {
    -fx-stroke: black;
}

.target .line {
    -fx-stroke: lime;
}

.graph, #graphWrapper {
    -fx-background-color:white;
}

.graph .label {
    -fx-color: #cecece;
    visibility:hidden;
}

.agentRoot {
    -fx-padding: 5px;
}

.agentRoot:focused {
        -fx-focus-color: transparent;
        -fx-background-insets: -1.4, 0, 1, 2;
}

.agentInfo {
    -fx-padding: 5px 0 0 0;
}

.lblAgentId, .txtAgentId {
    -fx-font-weight:bold;
}

